* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
main {
  display: flex;
  font-family: Avenir Next;
  color: #637287;
  font-size: 0.9375rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#viewDiv{
  width: 100%;
}