.headers{
  width: 58%;
  text-align: center; 
  align-self: center;
}

.dualSliderContainer{
  z-index: 1;
  width: 93%;
  padding: 2% 2% 0;
  margin: 1%;
  position: absolute;
  /* top: 15%; */
  left: 3%;
  border-radius: 12px;
  background: #f1f4f5;
  box-shadow: inset 6px 6px 6px #eaeef1, -2px -2px 3px #d8e0e7, 3px 3px 4px #d8e0e7;
}

.singleSliderContainer{
  z-index: 0;
  width: 93%;
  padding: 2% 2% 0;
  margin: 1%;
  /* position: absolute; */
  /* top: 15%; */
  left: 3%;
  border-radius: 12px;
  /* background: #f1f4f5;
  box-shadow: inset 6px 6px 6px #eaeef1, -2px -2px 3px #d8e0e7, 3px 3px 4px #d8e0e7; */
}

.slider-group {
  display:flex;
  flex-flow: column;
}

.slider-tracks {
  display: flex;
  flex-direction: column-reverse;
  }

.slider-foreground {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.slider-area {
  height: 8px;
  width: 100%;
}

.slider-area:last-child {
  width: 0;
}

.slider-color {
  background: linear-gradient(0deg, rgba(209,216,226,1) 0%, rgba(255, 255, 255, 1) 100%);
  
}

.slider-transparent {
  background: transparent
}

.slider-handles {
  margin: 8px 0 -8px 0;
}

.input-track {
  display: flex;
  flex-direction: column-reverse;
  margin: -3px 0;
}

.inputs input[type="range"] {
  appearance: none;
  pointer-events: none;
}

/* .slider-group .singleSlider {
  height: 0;
  z-index: 2;
} */

.slider-group .minSlider {
  height: 0;
  z-index: 4;
}

.slider-group .maxSlider {
  height: 0;
  z-index: 4;
}

.slider-background {
  height: 8px;
  border-radius: 3px;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(209,216,226,1) 100%);
  z-index: 0;
}

.tickmarks-container {
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
  
}

.tick {
  position: relative;
  height: 10px;
  line-height: 2rem;
  border: solid gray 1px;
}

.tooltip {
  z-index: 1;
  background: lightgrey;
  color: black;
  padding: 0 0.5rem;
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  transform: translate(-48%, -150%);
}

.sliderNumbers {
  margin:0 -6px;
}

.minSliderValue {
  float:left
 }
 
.maxSliderValue {
  float:right
 }

.inputs input[type=range]::-webkit-slider-thumb {
  appearance: none;
  pointer-events: all;
  width: 16px;
  height: 16px;
  background: #F1F4F5;
  outline: solid 2px #D4DBE4;
  border-radius: 50%;
  box-shadow: 0px 0px 6px #D4DBE4;
  cursor: pointer;
  position: relative;
  top: 0px;
  bottom: 10px;
}

.inputs input[type=range]::-moz-range-thumb {
  appearance: none;
  pointer-events: all;
  width: 16px;
  height: 16px;
  background: #F1F4F5;
  outline: solid 2px #D4DBE4;
  border-radius: 50%;
  box-shadow: 0px 0px 6px #D4DBE4;
  cursor: pointer;
  position: relative;
  top: 0px;
  bottom: 10px;  
}

.inputs input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

.inputs input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 3px #387bbe;
}

.clickable-track {
background-color: none;
display: flex;
justify-content: space-between;
position: relative;
top:-0.5rem;
z-index: 3;
}

.clickable{
  color: transparent;
  height: 8px;
  width: 100%;
}
